/*=========== TABLE OF CONTENTS ===========
1.  General css (Reset code)
2.  Top-area
3.  Welcome-hero
4.  Model-search
5.  Service
6.  New-bikes
7.  Featured-bikes
8.  Client-say
9.  Brand
10. Blog
11. Contact
==========================================*/

/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #818998;
    text-transform: initial;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
    display: inline-block;
    text-decoration: none;
    color: #444a57;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    text-transform: BikeVillapitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.img-responsive {
    border: 1px solid #ddd;
}


p {
    margin: 0;
    color: #818998;
    font-size: 16px;
    line-height: 1.8;
    text-transform: initial;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

ul li {
    list-style: none;
    display: inline-block;

}

select,
input,
textarea,
button,
.form-control {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
    font-size: 16px;
    text-transform: capitalize;
}

html,
body {
    height: 100%;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -ms-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}

.owl-carousel {
    z-index: 0;
}

/* section-header */
.section-header {
    position: relative;
    text-align: center;
}

.section-header h2 {
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
}

.section-header h2:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -42px;
    background: crimson;
}

.section-header p {
    color: #444a57;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header h2 span,
.section-header p span {
    text-transform: lowercase;
}


/*=============Style css=========*/

/*-------------------------------------
           2. Top-area
--------------------------------------*/
nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: transparent;
}

.wrap-sticky nav.navbar.bootsnav.sticked {
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(47, 44, 44, 0.911);
}

.navbar-header a img {
    /* logo do not show if display none */
    display: none;
    position: relative;
    left: -2em;
    top: -1.1em;
    float: left;
    height: 70px;
    width: 90px;
    max-height: 100px;
    max-width: 100px;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
}

.navbar-header a.navbar-brand,
.navbar-header a.navbar-brand:hover,
.navbar-header a.navbar-brand:focus {
    display: inline-block;
    color: crimson;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: 'Rufina', serif;
    font-weight: 900;
    padding: 46px 0px;
    text-transform: uppercase;
}

.navbar-header a.navbar-brand span {
    display: inline-block;
    color: #226ee9;
    text-transform: capitalize;
}

.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:hover,
.wrap-sticky nav.navbar.bootsnav.sticked .navbar-header a.navbar-brand:focus {
    padding: 30px 0px;
}

nav.navbar.bootsnav ul.nav>li>a {
    color: #f5f7fa;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

nav.navbar.bootsnav ul.nav>li>a {
    padding: 48px 21px;
}

nav.navbar.bootsnav ul.nav>li>a:hover,
nav.navbar.bootsnav ul.nav>li>a:focus {
    color: crimson;
}

nav.navbar.bootsnav ul.nav>li.active>a {
    color: crimson;
}

nav.navbar.bootsnav ul.nav>li.dropdown>a.dropdown-toggle:after {
    content: "";
}

nav.navbar.bootsnav ul.nav>li.dropdown span {
    font-size: 8px;
    margin-left: 15px;
}

.wrap-sticky nav.navbar.bootsnav.sticked ul.nav>li>a {
    padding: 30px 25px;
}

.menu-ui-design {
    overflow-y: scroll;
    height: 350px;
}

.menu-ui-design::-webkit-scrollbar {
    width: 5px;
}

.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000000;
}

.menu-ui-design::-webkit-scrollbar-thumb {
    background-color: crimson;
}

nav.navbar.bootsnav .navbar-toggle {
    /*.navbar-toggle */
    position: relative;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px;
    top: 0;
}

nav.navbar.bootsnav .navbar-toggle i {
    color: #ffffff;
}


/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
.welcome-hero {
    position: relative;
    background: url(../images/welcome-hero/bg.png)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.welcome-hero:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.406);
    z-index: -1;
}

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}


.welcome-hero-txt {
    /*.welcome-hero-txt*/
    text-align: center;
    padding: 250px 0 250px;
    z-index: +1;
}

.welcome-hero-txt h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.welcome-hero-txt p {
    font-size: 13px;
    text-transform: initial;
    color: #fff;
    font-weight: 300;
    max-width: 100em;
    margin: 0 auto;
}

.register {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: black;
    color: #fff;
    border-radius: 3px;
    border: 1px solid white;
    margin-top: 30px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.register:hover {
    background-color: crimson;
}


/*-------------------------------------
        4. Model-Search
--------------------------------------*/
.model-search-content .col-sm-12 {
    /* #bike-search */
    padding: auto;
}

.model-search-content {
    padding: 10px 0 20px;
    background: #f5f1f1;
    box-shadow: 0 20px 40px 0px rgba(38, 40, 64, .2);
    left: 12rem;
    width: 80%;
    border-radius: 0px;
    z-index: +1;
}

.model-search-content h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    margin: 2px 0 2px;
}

.single-model-search {
    margin-bottom: 16px;
    margin-top: 16px;
}

.single-model-search:last-child {
    margin-bottom: 0;
}

.single-model-search h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1px;
}

.model-select-icon {
    /*model-select-icon*/
    position: relative;
}

.model-select-icon .form-control {
    outline: 0 !important;
    box-shadow: 0 2px 40px 0px rgba(2, 2, 6, 0.2);
    border: 1px solid #f8f8f8;
    background: #ffffff;
    height: 32px;
}

.model-select-icon .form-control:hover {
    box-shadow: 10px 20px 40px 20px rgba(2, 2, 6, 0.2);
}

.model-select-icon select {
    font-size: 14px;
    color: #888f9d;
    text-transform: capitalize;
}

.welcome-btn.model-search-btn {
    position: relative;
    top: 2.9em;
    display: inline-block;
    width: 9em;
    height: 2.5em;
    background: #262525;
    color: #fff;
    border-radius: 3px;
    margin-top: 5px;
}

.welcome-btn.model-search-btn:hover {
    background: crimson;
}


/*-------------------------------------
        5. Service 
--------------------------------------*/
.service {
    padding: 200px 0 50px;
    background-color: #edebeb;
}

.single-service-item {
    text-align: center;
    padding: 55px 30px 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    box-shadow: 0 20px 30px 0px rgba(175, 175, 176, 0.986);
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.single-service-icon svg {
    height: 2.5em;
    width: 2.5em;
}

.single-service-item h2 a {
    font-size: 20px;
    margin: 35px 0 20px;
}

.single-service-item h2 a span {
    text-transform: lowercase;
}

.single-service-item p {
    padding-bottom: 35px;
    text-transform: initial;
    position: relative;
}

.single-service-item p:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: crimson;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}

.single-service-item:hover h2 a,
.single-service-item:hover p {
    color: #fff;
}

.single-service-item:hover p:before {
    background: #fff;
}

.single-service-item:hover,
.single-service-icon svg:hover {
    background: #e8b900;
    border: 1px solid #e0ce03;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
}


/*-------------------------------------
        6. New-bikes
--------------------------------------*/
.new-bikes img {
    scale: .8;
}

.new-bikes img:hover {
    scale: 1.2;
    cursor: zoom-in;
}

.new-bikes {
    background: #f8f9fb;
    padding: 112px 0 120px;
}

.new-bikes-content {
    padding-top: 96px;
}

.new-bikes-txt {
    /*.new-bikes-txt*/
    margin-left: 29px;
    margin-bottom: 30px;
}

.new-bikes-txt h2 a {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 26px;
}

.new-bikes-txt h2 a span {
    text-transform: uppercase;
}

.new-bikes-para2 {
    margin-top: 30px;
}

.welcome-btn.new-bikes-btn {
    width: 176px;
    margin-top: 32px;
}

.new-bikes .owl-theme .owl-dots .owl-dot span {
    /*.owl-dots */
    width: 8px;
    height: 8px;
    margin: 0px 4px;
    background: transparent;
    border: 1px solid crimson;
    border-radius: 50%;
}

.new-bikes .owl-theme .owl-dots .owl-dot.active span,
.new-bikes .owl-theme .owl-dots .owl-dot:hover span {
    background: crimson;
}

.new-bikes .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 62px;
}


/*-------------------------------------
        7. Featured-bikes
--------------------------------------*/
.featured-bikes {
    /*.single-featured-bikes*/
    padding: 112px 0 120px;
    background-color: rgb(237, 233, 233);
}

.featured-bikes-content {
    padding-top: 96px;
}

.featured-img-box {
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 10px 10px 20px 8px rgba(131, 131, 133, 0.2);
}

.featured-img-box:hover {
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 35px 55px 0px rgba(1, 4, 157, 0.212);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    scale: 1.1;
    cursor: zoom-in;
}

.featured-bikes-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 220px;
    border-bottom: 1px solid rgb(161, 160, 160);

}

.featured-model-info {
    padding: 12px 4px;
}

.featured-model-info p {
    font-size: 12px;
    color: #8c92a0;
    text-transform: capitalize;
}

.featured-mi-span {
    display: inline-block;
    margin: 0 10px;
}

.featured-hp-span {
    display: inline-block;
    margin-right: 10px;
}

.featured-bikes-txt {
    margin: 21px 0 47px;
}

.featured-bikes-txt h2 a {
    font-size: 16px;
    margin-bottom: 15px;
}

.featured-bikes-txt h2 a span {
    text-transform: uppercase;
}

.featured-bikes-txt h3 {
    margin-bottom: 10px;
}

.featured-bikes-txt h3,
.featured-bikes-txt p {
    font-size: 13px;
}


/*-------------------------------------       
        8. Clients-say 
--------------------------------------*/
.clients-say {
    padding: 115px 0 80px;
    background: #d3cfcfd6;
}

.single-testimonial-box {
    /*single-testimonial-box */
    padding: 50px 30px 57px;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 20px 40px 0px rgba(175, 175, 176, 0.986);
    overflow-x: hidden;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.clients-say .testimonial-carousel .col-sm-3,
/*testimonial-description*/
.clients-say .testimonial-carousel .col-xs-12 {
    width: 100%;
    height: auto;
}

.testimonial-img {
    /* testimonial-info */
    margin-right: 5px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.testimonial-person h2 a,
.testimonial-person h4 {
    font-size: 16px;
    color: #5e6778;
    font-weight: 600;
}

.testimonial-person h4 {
    margin-top: 10px;
}

.testimonial-comment p {
    /* testimonial-comment */
    font-size: 16px;
    color: #5e6778;
    margin-top: 30px;
    margin-bottom: 25px;
}

.single-testimonial-box:hover h2 a,
.single-testimonial-box:hover h4,
.single-testimonial-box:hover p {
    color: #fff;
}

.single-testimonial-box:hover {
    background: #4e4ffa;
    border: 1px solid #4e4ffa;
    box-shadow: 0 12px 30px 0px rgba(0, 1, 193, .2);
}

.clients-say .owl-carousel .owl-stage {
    /*owl carousel*/
    position: relative;
    padding: 100px 0 40px;
}

.clients-say .owl-carousel .owl-item img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}


/*-------------------------------------
             9. Brand
--------------------------------------*/
.brand {
    padding: 180px 0;
    background-color: #ffffff;
}

.brand h1 {
    font-size: 2.4em;
    text-align: center;
    padding: 0 0 90px;
}

.brand-area {
    position: relative;
}

.brand-area .item {
    padding: 20px 20px 0;
}

.brand .brand-area .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 72px;
    border-radius: 0;
}


/*-------------------------------------
        11. Contact
--------------------------------------*/
/* Layout Styles */
.add-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #10184b;
}

.col-sm-6 p a {
    color: crimson;
}

.big-text {
    color: rgb(210, 208, 208);
    font-size: 50px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0.01em;
    word-spacing: 0.15em;
    text-transform: uppercase;
}

#contact-form .form-group label {
    display: none;
    font-size: 18px;
    line-height: 2rem;
    font-weight: 100px;
    text-transform: uppercase;
}

#contact-form.no-placeholder .form-group label {
    display: block;
}

#contact-form .controls {
    padding: 0;
    margin-bottom: 23px;
    border: 1px solid #ffffff;
    border-radius: 12px;
}

#contact-form .form-control {
    background: transparent !important;
    border: none;
    border-bottom: 4px solid rgb(41, 48, 88);
    outline: none;
    box-shadow: none;
    height: 48px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100px;
    padding-left: 54px;
    border-radius: 6px;
}

#contact-form .form-group {
    position: relative;
}

#contact-icon {
    height: 1.5em;
    width: 1.5em;
    filter: brightness(100%);
    -webkit-filter: invert(70%);
}

.fa-name {
    position: absolute;
    top: 13px;
    left: 13px;
}

.fa-email {
    position: absolute;
    top: 13px;
    left: 13px;
}

.fa-message {
    position: absolute;
    top: 13px;
    left: 13px;
}

#contact-form textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 21px;
    line-height: 32px;
    padding-top: 10px;
}

#contact-form .form-control:focus {
    background: rgb(0, 0, 0);
    outline: none;
    box-shadow: none;
    -webkit-transition: border-color .3s ease-in;
    transition: border-color .3s ease-in;
}

#contact-form .error-message {
    padding: 5px 0;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 14px;
    font-weight: 300;
    color: #ff0000;
    z-index: 10;
}

#contact-form .error-message:before {
    content: "\00d7";
    font-size: 21px;
    line-height: 21px;
    margin-right: 5px;
}

.contact-btn svg {
    position: relative;
    height: 1.5em;
    width: 1.5em;
    left: .2em;
    top: .2em;
    margin-right: 15px;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
}

.contact-btn {
    padding: 10px 30px;
    color: #efefef;
    font-size: 21px;
    font-weight: 300;
    background: crimson;
    outline: none !important;
    border-radius: 4px;
    transition: opacity .2s ease-out;
}

.contact-btn:hover {
    color: #fff;
    opacity: .8;
}

.contact-btn:focus,
:active {
    color: #fff;
}


/*-----------------------------------
                  Footer
------------------------------------*/
.footer-section {
    background: #141414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
    margin: 5em 0 2.5em;
}

.single-cta svg {
    height: 1.5em;
    width: 1.5em;
    float: left;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
}

.cta-text {
    padding: 5px 15px 21px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.cta-text span {
    color: crimson;
    font-size: 14px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-logo img {
    height: 151px;
    width: 170px;
    max-height: 160px;
    max-width: 250px;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
}

.footer-text p {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a svg {
    height: 1.5em;
    width: 1.5em;
    float: left;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
    margin-right: 12px;
    margin-bottom: 12px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: crimson;
}

.footer-widget ul li {
    display: block;
    float: left;
    padding: auto;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a {
    font-size: 14px;
}

.footer-widget ul li a:hover {
    color: crimson;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: .8em 1em;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: crimson;
    padding: .8em 1em;
    border: 1px solid transparent;
    top: 0;
}

.subscribe-form button svg {
    height: 1.5em;
    width: 1.2em;
    float: left;
    filter: brightness(100%);
    -webkit-filter: invert(100%);
}

.copyright-area {
    background: #000000;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #f9f5f5;
}

.copyright-text p a {
    color: crimson;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: crimson;
}

.footer-menu li a {
    font-size: 14px;
    color: #ffffff;
}